@keyframes zoom-in-out {
    0%{
        scale: 0.99;
    }
    100%{
        scale: 1.01;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    20%{
        opacity: 20%;
    }
    75%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
    30% { transform: translateX(0); }
    40% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    60% { transform: translateX(0); }
    70% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    90% { transform: translateX(0); }
    100% { transform: translateX(0); }
}



@media (min-width: 200px) and (max-width: 991px) {
    main{
        width: 100% !important;
        .content{
            height: max-content !important;
            width: 100% !important;
            .update .btn,
            .update .btn:hover{
                width: 50% !important;
            }
            .filters{
                position: absolute;
                background: var(--compClr);
                padding: 1rem;
                z-index: 9;
                top: 0;
                left: 0;
                transform: translateY(17%);
                box-shadow: 3px 3px 10px #4424468b;
                border: 1px solid var(--pryClr) !important;
                border-radius: 10px;
            }
        }
    }
}
@media (min-width: 200px) and (max-width: 767px) {
    .transfer{
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 2rem;
        width: 100%;
        transform: translateX(12px);
    }
    .deposit > div:nth-child(1),
    .deposit > div:nth-child(2){
        width: 100% !important;
    }
    tbody{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .content .thiss{
        width: 90% !important;
    }
    .deposit .card-img{
        width: 70% !important;
        img{
            width: 90% !important;
        }
    }
    .prevBtn, .prevBtn:hover{
        left: 15% !important;
    }
    .transaction-table{
        tr{
            font-size: 14px !important;
        }
    }
    .table-top .redirect{
        padding: .6rem !important;
    }
    .table-top, .table-top h4{
        font-size: 14px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .parent-card .btn{
        font-size: 10px;
        transform: translateX(0);
    }
    .content .thiss{
        width: 70% !important;
    }
    .deposit .card-img{
        width: 40% !important;
        img{
            width: 90% !important;
        }
    }
    .filters{
        width: 50%;
        transform: translateY(25%) !important;
    }
}
@media (min-width: 200px) and (max-width: 475px) {
    
}